<dest>
  {{#cnpj?}}
    <CNPJ>{{cnpj}}</CNPJ>
  {{/cnpj?}}
  {{#cpf?}}
    <CPF>{{cpf}}</CPF>
  {{/cpf?}}
  <xNome>{{x_nome}}</xNome>
  {{{ender_dest}}}
  <IE>{{ie}}</IE>
  <email>{{email}}</email>
</dest>
