<emit>
  <CNPJ>{{cnpj}}</CNPJ>
  <xNome>{{x_nome}}</xNome>
  <xFant>{{x_fant}}</xFant>
  {{#ender_emit}}
    {{{render}}}
  {{/ender_emit}}
  <IE>{{ie}}</IE>
  <IM>{{im}}</IM>
  <CNAE>{{cnae}}</CNAE>
  <CRT>{{crt}}</CRT>
</emit>
