<emit>
  <CNPJ>{{cnpj}}</CNPJ>
  <xNome>{{x_nome}}</xNome>
  <xFant>{{x_fant}}</xFant>
  {{#ender_emit}}
    {{{render}}}
  {{/ender_emit}}
  <IE>{{ie}}</IE>
  {{#im?}}
    <IM>{{im}}</IM>
  {{/im?}}
  {{#cnae?}}
    <CNAE>{{cnae}}</CNAE>
  {{/cnae?}}
  <CRT>{{crt}}</CRT>
</emit>
