<emit>
  <CNPJ>{{cnpj}}</CNPJ>
  <xNome>{{x_nome}}</xNome>
  <xFant>{{x_fant}}</xFant>
  {{#ender_emit}}
    {{{render}}}
  {{/ender_emit}}
  <IE>{{ie}}</IE>
  {{#im}}
    <IM>{{to_s}}</IM>
  {{/im}}
  {{#cnae}}
    <CNAE>{{to_s}}</CNAE>
  {{/cnae}}
  <CRT>{{crt}}</CRT>
</emit>
