<enderDest>
  <xLgr>RUA PARAIBA</xLgr>
  <nro>73</nro>
  <xBairro>BRAS</xBairro>
  <cMun>3550308</cMun>
  <xMun>Sao Paulo</xMun>
  <UF>SP</UF>
  <CEP>03013030</CEP>
  <cPais>1058</cPais>
  <xPais>BRASIL</xPais>
  <fone>1122910590</fone>
</enderDest>
