<enderEmit>
  <xLgr>{{x_lgr}}</xLgr>
  <nro>{{nro}}</nro>
  <xCpl>{{x_cpl}}</xCpl>
  <xBairro>{{x_bairro}}</xBairro>
  <cMun>{{c_mun}}</cMun>
  <xMun>{{x_mun}}</xMun>
  <UF>{{uf}}</UF>
  <CEP>{{cep}}</CEP>
  <cPais>{{c_pais}}</cPais>
  <xPais>{{x_pais}}</xPais>
  <fone>{{fone}}</fone>
</enderEmit>
