<enderDest>
  <xLgr>{{x_lgr}}</xLgr>
  <nro>{{nro}}</nro>
  <xBairro>{{x_bairro}}</xBairro>
  <cMun>{{c_mun}}</cMun>
  <xMun>{{x_mun}}</xMun>
  <UF>{{uf}}</UF>
  <CEP>{{cep}}</CEP>
  <cPais>1058</cPais>
  <xPais>{{x_pais}}</xPais>
  <fone>{{fone}}</fone>
</enderDest>
