<ICMSTot>
  <vBC>{{v_bc}}</vBC>
  <vICMS>{{v_icms}}</vICMS>
  <vBCST>{{v_bcst}}</vBCST>
  <vST>{{v_st}}</vST>
  <vProd>{{v_prod}}</vProd>
  <vFrete>{{v_frete}}</vFrete>
  <vSeg>{{v_seg}}</vSeg>
  <vDesc>{{v_desc}}</vDesc>
  <vII>{{v_ii}}</vII>
  <vIPI>{{v_ipi}}</vIPI>
  <vPIS>{{v_pis}}</vPIS>
  <vCOFINS>{{v_cofins}}</vCOFINS>
  <vOutro>{{v_outro}}</vOutro>
  <vNF>{{v_nf}}</vNF>
</ICMSTot>
