<ide>
  <cUF>{{c_uf}}</cUF>
  <cNF>{{c_nf}}</cNF>
  <natOp>{{nat_op}}</natOp>
  <indPag>{{ind_pag}}</indPag>
  <mod>{{mod}}</mod>
  <serie>{{serie}}</serie>
  <nNF>{{n_nf}}</nNF>
  <dEmi>{{d_emi}}</dEmi>
  <tpNF>{{tp_nf}}</tpNF>
  <cMunFG>{{c_mun_fg}}</cMunFG>
  <tpImp>{{tp_imp}}</tpImp>
  <tpEmis>{{tp_emis}}</tpEmis>
  <cDV>{{c_dv}}</cDV>
  <tpAmb>{{tp_amb}}</tpAmb>
  <finNFe>{{fin_nfe}}</finNFe>
  <procEmi>{{proc_emi}}</procEmi>
  <verProc>{{ver_proc}}</verProc>
</ide>
