<prod>
  <cProd>{{c_prod}}</cProd>
  <cEAN></cEAN>
  <xProd>{{x_prod}}</xProd>
  <NCM>{{ncm}}</NCM>
  <CFOP>{{cfop}}</CFOP>
  <uCom>{{u_com}}</uCom>
  <qCom>{{q_com}}</qCom>
  <vUnCom>{{v_un_com}}</vUnCom>
  <vProd>{{v_prod}}</vProd>
  <cEANTrib></cEANTrib>
  <uTrib>{{u_trib}}</uTrib>
  <qTrib>{{q_trib}}</qTrib>
  <vUnTrib>{{v_un_trib}}</vUnTrib>
  <indTot>{{ind_tot}}</indTot>
  <xPed>{{x_ped}}</xPed>
  <nItemPed>{{n_item_ped}}</nItemPed>
</prod>
