<prod>
  <cProd>2470BCB90</cProd>
  <cEAN></cEAN>
  <xProd>DELFOS SND TINTO COM AMACIANTE SO TECIDO 1,80M</xProd>
  <NCM>60063200</NCM>
  <CFOP>5122</CFOP>
  <uCom>KG</uCom>
  <qCom>46.4800</qCom>
  <vUnCom>19.0000000000</vUnCom>
  <vProd>833.12</vProd>
  <cEANTrib></cEANTrib>
  <uTrib>KG</uTrib>
  <qTrib>46.4800</qTrib>
  <vUnTrib>19.0000000000</vUnTrib>
  <indTot>1</indTot>
  <xPed>060110-1030</xPed>
  <nItemPed>1</nItemPed>
</prod>
